.mine{
  border: 1px solid #006600;
  height: 50px;
  margin: 5px;
  display: table;
  table-layout: fixed;
  
}
.starMine{
	background: url('../images/mine1.png') no-repeat center center;
	width: 20px;
	height: 20px;
	background-size:100% auto;
}

.starMine .board{
	display: none;
}

.mine span{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-family: Helvetica, Arial;
  font-weight: bold;
  color: #007069;

  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.covered{
  background-color: #b3b3b3;
}

.uncovered{
  background-color: #ffffff;
}

.crash {
  background-color: #FF0000;
}

.glyphicon{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}
