<div ng-controller="GameCtrl">
  <div class="alert" ng-if="status != ''" ng-class="status=='success'?'alert-success':'alert-danger'">
    {{status == 'success'?"Congratulation! You Win.":"Sorry! You Loose"}}
  </div>
  <br>
  <div ng-repeat="x in [0, dimension-1]| makeRange" class="row">
    <div class="col-xs-1"></div>
    <div ng-repeat="y in [0, dimension-1]| makeRange" class="col-xs-1 mine covered box-{{x}}-{{y}} btn btn-default" ng-click="boxClicked(x,y)" ng-right-click="setFlagged(x,y)">
		<span class="hidden "><label><div ng-class="board[x][y] == '*'? 'starMine':'notMine'"><span class="board">{{board[x][y]}}</span></div></label></span><div class="flag glyphicon"></div>
    </div>
  </div>
  <br>
  <div class="row">
    <button class="btn btn-lg btn-success center-block" ng-click="resetGame()">Restart</button>
    <br>
  </div>
</div>
<link rel="stylesheet" href="styles/game.css">
